html,
body,
#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.container.new {
  justify-content: center;
}

.toolbar {
  background-color: #ccc;
  width: 100%;
  height: 48px;
  padding: 4px 0px 2px 4px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.toolbar.dark {
  background-color: #222;
}

.toolbar .description {
  position: absolute;
  left: 35px;
}

.toolbar .room {
  text-align: center;
}

.toolbar .room input {
  background-color: transparent;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  width: 256px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  color: white;
}

.toolbar.dark .room input {
  border: 1px solid #333;
}

.toolbar .room input:focus{
  outline: 1px solid #333;
}

.toolbar .room input::placeholder{
  opacity: 50%;
}

.toolbar .toolbar-options {
  position: absolute;
  right: 1px;

}

.toolbar .toolbar-options button {
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.toolbar .toolbar-options button:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid black;
}

.toolbar .toolbar-options img {
  background-color: transparent;
  width: 20px;
  height: 20px
}

.toolbar .toolbar-options p {
  position: absolute;
  top: 50%;
}

.content {
  display: flex;
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-color: #f1f1f1
}

.dark {
  background-color: #111;
  /* background-color: #202225; */
  /* background-color: #2f3136; */
  /* background-color: #202225; */
  color: #F8F8F8;
}

.logged-out {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
}

/* .logged-out .samples {
  background-color: #999;
  margin-right: 10px;
}

.logged-out .samples img {
  width: 50%;
} */

.logged-out .login-container {
  text-align: center;
  background-color: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
}

.logged-out .login-container h1 {
  margin-top: none;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.logged-out .login-container .newUser {
  font-style: italic;
  font-size: 75%;
  color: #c0c0c0;
  text-decoration: underline;
  transition: color ease 0.3s
}

.logged-out .login-container .newUser:hover{
  color: #888;
  cursor: pointer;
}

.logged-out .login-container input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.logged-out .login-container input::placeholder {
  opacity: 50%;
}

.logged-out .login-container .create-user {
  background: #beb;
}

.logged-out .login-container .create-user.short {
  background: #ebb;
}

.logged-out .login-container button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logged-out .login-container button:hover {
  background-color: #000;
  color: #fff
}

.logged-out .error-msg {
  color: red;
  margin-top: 10px;
}

.logged-out {
  display: flex;
  min-height: 100%;
}

.sidebar {
  width: 30%;
  padding: 10px;
  padding-right: 50px;
  border-right: 1px solid #000;
}

.spotify-player {
  position: fixed;
  width: 25%;
  left: 0%;
  bottom: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-player iframe {
  width: 80%;
  height: 80px;
  border: none;
}

.spotify-player #spotify-login {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  padding: 10px;
  background-color: #111;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #222;
  transition: all 0.3s ease;
}

.spotify-player #spotify-login:hover {
  cursor: pointer;
  background-color: #20212c;
}

.spotify-player #spotify-login span {
  font-family: inherit;
  color: #ccc;
  text-decoration: none;
  padding: 5px;
}

.goals {
  /* border: 1px solid #222; */
  text-align: center;
  border-radius: 10px;
  width: 100%;
  font-family: inherit;
  max-height: 500px;
  overflow-y: auto;
}

@media (max-height: 500px) {

  .goals {
    min-height: 180px
  }
  
}

.goals .header {
  background-color: transparent;
  border-bottom: 2px solid black;
}

.goals .header.dark {
  border-bottom: 2px solid #f1f1f1;
}

.goals .header.dark input{
  color: #eee;
}

.goals .header.dark input::placeholder{
  color: #bbb;
  font-family: inherit;
  opacity: 50%;
}

.goals .header button {
  padding: 6px 12px;
  font-size: 24px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.goals .header button:hover {
  /* background-color: #fff; */
  color: #fff;
}

.goals .header input {
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  width: 60%;
  height: 40px;
  font-size: 20px;        
  border: none;

}

.goals .header input::placeholder {
  color: #999;
  opacity: 50%;
}

.goals .header input:focus {
  outline: none;
}

.goals .goal-list {
  background-color: transparent;
}

.goals .goal-list ul {
  list-style-type: none;
  padding: 0;
}

.goals .goal-list li {
  font-family: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 10px;
  width: 95%;
  border-bottom: 1px solid #ccc;
}

.goals .goal-list.dark li {
  border-bottom: 1px solid #222;
}

.goals .goal-list .goal-content {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  margin: 12px;
  width: 80%;
  color: #333;
  outline: none;
}

.goals .goal-list.dark .goal-content {
  color: #ddd;
}

.goals .goal-list .goal-options {
  position: relative;
  display: inline-block;
}

.goals .goal-list .goal-options .goal-options-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0%;
  opacity: 0;
  width: 140px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease;
}

.goals .goal-list .goal-options:hover .goal-options-container {
  display: block;
  opacity: 1;
}

.goals .goal-list .goal-options .show-options {
  background-color: transparent;
  color: #444;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goals .goal-list .goal-options .show-options:hover {
  background-color: #808080;
  color: #ccc;
}

.goals .goal-list .goal-options .delete-button {
  background-color : #ee6767;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
  border: none;
  transition: background-color 0.3s ease;
}

.goals .goal-list .goal-options .delete-button:hover {
  background-color: #b44;
  cursor:pointer;
}

.main-content {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

.tasks-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  border-top: 1px solid #222;
}

.timer-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 8px;
}

.timer-container .timer {
  font-size: 80px;
  margin: 20px 0 0 20px;
  font-weight: bold;
}


.timer-container .timer-customize {
  margin: 10px 0 0 10%;  
}

.timer-container .timer-customize input {
  padding: 10px;
  font-size: 20px;
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  font-style: italic;
}

.timer-container .timer-customize input:focus {
  color: #e0e0e0;
  outline: none;
  font-style: normal;
  opacity: 100%;
}

.timer-container .timer-customize button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-container .timer-customize button:hover {
  background-color: #000;
  color: #FFF;
} 

.timer-container .timer-customize button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #aaa;
}

.timer-container .timer-customize.dark button {
  color: #fff;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.1);
}

.timer-container .timer-customize.dark button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.timer-container .hidden {
  display: none;
  visibility: hidden;
}


.tasks {
  text-align: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  font-family: inherit;
}

.tasks .header {
  font-family: inherit;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tasks .header button {
  padding: 6px 12px;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tasks .header button:hover{
  /* background-color: #fff; */
  color: #fff;
}

.tasks .header .add-task {
  font-family: inherit;
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  width: 60%;
  height: 40px;
  font-size: 20px;        
  border: none;
}

.tasks .header .add-task::placeholder {
  color: #999;
  opacity: 50%;
}

.tasks .header .add-task:focus {
  outline: none;
}

.tasks .header.dark {
  border-bottom: 1px solid white;
}

.tasks .header.dark .add-task {
  color: #eee;
}

.tasks .header .tasks-title {
  font-family: inherit;
  width: 80%;
  background-color: transparent;
  font-size: 32px;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 12px 8px;
  color: #000;
}

.tasks .header.dark .tasks-title::placeholder {
  color: #e0e0e0;
}

.tasks .header.dark .tasks-title {
  color: #e0e0e0;
}

.tasks .header .tasks-title:focus {
  outline: none;
}

.tasks .header .tasks-title::placeholder {
  color: #000;
}

.tasks .task-list ul {
  font-family: inherit;
  list-style-type: none;
  padding-bottom: 53px;
  margin: 0;
  text-align: left;
  max-height: 270px;
  overflow-y: auto;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  max-height: 400px;
  overflow-y: auto;
}

.task-list ul::-webkit-scrollbar {
  width: 8px;
}

.task-list ul::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: 1px solid #222;
}

.task-list ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.task-list ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.tasks .task-list li {
  font-family: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  width: 96%;
}

.tasks .task-list li.dark {
  border-bottom: 1px solid #333
}

.tasks .task-list li input[type = "checkbox"] {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tasks .task-list .progress {
  background-color: #ccc;
  border-radius: 5px;
}

.tasks .task-list .progress.dark {
  background-color: #555;
}


.tasks .task-list .delete-button {
  background-color: #ee6767;
  color: #FFFFFF;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks .task-list .delete-button:hover {
  background-color: #DD0000;
}

.tasks .task-list .task-content {
  font-family: inherit;
  border: none;
  background-color: transparent;
  font-size: inherit;
  margin: 10px;
  width: 80%;
  color: #000;
  outline: none;
}

.tasks .task-list .task-content.dark {
  color: white;
}

.tasks .task-list .task-options {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}


.tasks .task-list .task-options .task-options-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0%;
  display: none;
  width: 140px;
  background-color: #f1f1f1;
  border: 1px solid #e0e0e0;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tasks .task-list .task-options.dark .task-options-container {
  background-color: #111;
  border: 1px solid #333;
}

.tasks .task-list .task-options:hover .task-options-container {
    display: block;
}


.tasks .task-list .task-options .task-option-button {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 10px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  transition: background-color 0.1s ease;
}

.tasks .task-list .task-options.dark .task-option-button {
  color: white;
}

.tasks .task-list .task-options .task-option-button:hover {
  background-color: #b0b0b0
}

.tasks .task-list .task-options .show-options {
  background-color: transparent;
  color: #444;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks .task-list .task-options .show-options:hover {
  background-color: #808080;
  color: #ccc;
}

.tasks .task-list .progress .task-options .show-options {
  text-align: center;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  background-color: #fff;
  color: #9FE59A;
}

.tasks .task-list .progress .task-options .show-options:hover {
  background-color: #aaa;
}

.tasks .task-list .progress.dark .task-options .show-options {
  color: #0dc;
  /* color: #000 */
}


.strikethrough {
  text-decoration: line-through;
}
