html,
body,
#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.container.new {
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

.dark {
  background-color: #111;
  /* background-color: #202225; */
  /* background-color: #2f3136; */
  /* background-color: #202225; */
  color: #F8F8F8;
}

.toolbar {
  background-color: #ccc;
  width: 100%;
  height: 48px;
  padding: 4px 0px 2px 0px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toolbar.dark {
  background-color: #222;
}

.toolbar .description {
  position: absolute;
  left: 35px;
}

.toolbar .room {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  opacity: 60%;
}

.toolbar .room button {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.toolbar .room button:hover {
  background-color: #555;
}

.toolbar .room img {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.toolbar .toolbar-options {
  position: absolute;
  right: 1px;
}

.toolbar .toolbar-options button {
  margin-right: 6px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  /* font-size: 16px; */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.toolbar .toolbar-options button:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid black;
}

.toolbar .toolbar-options img {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.toolbar .toolbar-options p {
  position: absolute;
  top: 100%;
}

.content {
  display: flex;
  flex: 1;
}

.logged-out {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
}

.logged-out .login-container {
  text-align: center;
  background-color: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 20px;
  width: 360px;
}

.logged-out .login-container h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}

.logged-out .login-container .newUser {
  padding-top: 10px;
  font-style: italic;
  font-size: 75%;
  color: #c0c0c0;
  text-decoration: underline;
  transition: color ease 0.3s
}

.logged-out .login-container .newUser:hover{
  color: #888;
  cursor: pointer;
}

.logged-out .login-container input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.logged-out .login-container input::placeholder {
  opacity: 50%;
}

.logged-out .login-container .create-user {
  background: #beb;
}

.logged-out .login-container .create-user.short {
  background: #ebb;
}

.logged-out .login-container button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logged-out .login-container button:hover {
  background-color: #000;
  color: #fff
}

.logged-out .error-msg {
  color: red;
  margin-top: 10px;
}

.logged-out {
  display: flex;
  min-height: 100%;
}

.sidebar {
  width: 32%;
  padding: 10px;
  padding-right: 25px;
  border-right: 1px solid #000;
}

.spotify-player {
  position: fixed;
  width: 25%;
  left: 0%;
  bottom: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-player iframe {
  width: 80%;
  height: 80px;
  border: none;
}

/* .spotify-player #spotify-login {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  padding: 10px;
  background-color: #111;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #222;
  transition: all 0.3s ease;
}

.spotify-player #spotify-login:hover {
  cursor: pointer;
  background-color: #20212c;
}

.spotify-player #spotify-login span {
  font-family: inherit;
  color: #ccc;
  text-decoration: none;
  padding: 5px;
} */

.goals {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  height: 500px;
  /* border: 1px */
}

@media (max-height: 500px) {

  .goals {
    max-height: 180px
  }
  
}

.goals .header {
  background-color: transparent;
  border-bottom: 2px solid black;
}

.goals .header h2 {
  font-weight: bold;
  font-size: 28px;
}

.goals .header.dark {
  border-bottom: 1px solid #555;  
}

.goals .header button {
  padding: 6px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.goals .header button:hover {
  color: #fff;
}

.goals .header input {
  /* padding: 6px 12px; */
  color: #333;
  background-color: transparent;
  width: 75%;
  height: 20px;
  font-size: 16px;        
  border: none;
}

.goals .header.dark input{
  color: #eee;
}

.goals .header input::placeholder {
  color: #999;
  opacity: 50%;
  font-family: inherit;
}

.goals .header input:focus {
  outline: none;
}

.goals .header.dark input::placeholder{
  color: #bbb;
}

.goals .goal-list {
  background-color: transparent;
}

.goals .goal-list ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
  height: 160px;
  max-height: 160px;
  overflow-y: auto;
}

.goal-list ul::-webkit-scrollbar {
  width: 8px;
}

.goal-list ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.goal-list ul::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 4px;
}

.goal-list ul::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.goals .goal-list.dark ul {
  border-bottom: 1px solid #222;
}

.goals .goal-list li {
  font-family: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.goals .goal-list.dark li {
  border-bottom: 1px solid #333;
}

.goals .goal-list .goal-content {
  border: none;
  /* border-bottom: 1px solid #e0e0e0; */
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  margin: 0px 8px 0px 8px;
  padding: 8px;
  width: 80%;
  color: #333;
  outline: none;
}

.goals .goal-list.dark .goal-content {
  color: #ddd;
  /* border-bottom: 1px solid #333; */
}

.goals .goal-list .goal-options {
  position: relative;
  display: inline-block;
}

.goals .goal-list .goal-options .goal-options-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  display: none;
  top: 100%;
  right: 0%;
  opacity: 0;
  width: 100px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease;
}

.goals .goal-list.dark .goal-options .goal-options-container {
  background-color: #111;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1)
}

.goals .goal-list .goal-options:hover .goal-options-container {
  display: block;
  opacity: 1;
}

.goals .goal-list .goal-options .show-options {
  background-color: transparent;
  color: #444;
  border: none;
  padding: 6px 14px;
  margin: 0px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goals .goal-list .goal-options .show-options:hover {
  background-color: #808080;
  color: #ccc;
}

.goals .goal-list .goal-options button {
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #000;
  border: none;
  transition: background-color 0.3s ease;
}

.goals .goal-list.dark .goal-options button {
  color: white;
}

.goals .goal-list .goal-options .delete-button {
  padding: 5px;
  font-weight: bold;
  color: #ddd;
  background-color: #ee6767;
}

.goals .goal-list .goal-options button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.goals .goal-list.dark .goal-options button:hover {
  background-color: #ccc;
}

.goals .goal-list .goal-options .delete-button:hover {
  background-color: #b44;
}

.goals .goal-view {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
}

.goals .goal-view p {
  font-size: 12px;
}

.goals .goal-view textarea {
  font-size: 12px;
  height: 360px;
  max-height: 360px;
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 5px;
  overflow-y: auto;
  background-color: transparent;
  width: 90%;
}

.goals .goal-view.dark textarea {
  color: white;
}

.goals .goal-view button {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 6px 12px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goals .goal-view.dark button {
  color: white;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.1);
}

.goals .goal-view button:hover{
  background-color: black;
  color: white;
}

.goals .goal-view.dark button:hover{
  background-color: white;
  color: black;
}

.main-content {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

.tasks-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  border-top: 1px solid #222;
}

.timer-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
  background-color: transparent;
  border-radius: 8px;
}

.timer-container .timer {
  font-size: 60px;
  margin: 4px 0 0 10px;
  font-weight: bold;
}

.timer-container .timer-customize input {
  padding: 10px;
  font-size: 16px;
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  font-style: italic;
}

.timer-container .timer-customize input:focus {
  color: #e0e0e0;
  outline: none;
  font-style: normal;
  opacity: 100%;
}

.timer-container .timer-customize button {
  margin: 10px;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-container .timer-customize button:hover {
  background-color: #000;
  color: #FFF;
} 

.timer-container .timer-customize button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #aaa;
}

.timer-container .timer-customize.dark button {
  color: #fff;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.1);
}

.timer-container .timer-customize.dark button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.timer-container .hidden {
  display: none;
  visibility: hidden;
}


.tasks {
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  font-family: inherit;
}

.tasks .header {
  text-align: center;
  font-family: inherit;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tasks .header button {
  padding: 6px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tasks .header button:hover{
  color: #fff;
}

.tasks .header .add-task {
  font-family: inherit;
  padding: 6px 12px;
  color: #333;
  background-color: transparent;
  width: 60%;
  height: 40px;
  font-size: 16px;        
  border: none;
}

.tasks .header .add-task::placeholder {
  color: #999;
  opacity: 50%;
}

.tasks .header .add-task:focus {
  outline: none;
}

.tasks .header.dark {
  border-bottom: 1px solid #555;
}

.tasks .header.dark .add-task {
  color: #eee;
}

.tasks .header .tasks-title {
  font-family: inherit;
  font-weight: bold;
  width: 80%;
  background-color: transparent;
  font-size: 28px;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 6px 0px;
  color: #000;
}

.tasks .header.dark .tasks-title::placeholder {
  color: #e0e0e0;
}

.tasks .header.dark .tasks-title {
  color: #e0e0e0;
}

.tasks .header .tasks-title:focus {
  outline: none;
}

.tasks .header .tasks-title::placeholder {
  color: #000;
}

.tasks.coworker .header {
  padding: 10px 0px 0px 10px;
  font-size: 24px;
}

.task-list ul {
  font-family: inherit;
  list-style-type: none;
  padding: 2px 5px 2px 0px;
  padding-bottom: 53px;
  text-align: left;
  max-height: 270px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-list ul::-webkit-scrollbar {
  width: 8px;
}

.task-list ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.task-list ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.task-list ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.tasks .task-list li {
  font-family: inherit;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 5px;
  width: 100%;
  height: 60px; 
}

.tasks .task-list li input[type = "checkbox"] {
  background-color: transparent;
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.tasks .task-list .in-progress {
  background-color: #ccc;
  border-radius: 5px;
}

.tasks .task-list .in-progress.dark {
  background-color: #555;
}

.tasks .task-list .delete-button {
  background-color: #ee6767;
  color: #FFFFFF;
  border: none;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks .task-list .delete-button:hover {
  background-color: #DD0000;
}

.tasks .task-list .task-content {
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 4px 5px 4px;
  margin: 5px 2px 5px 5px;
  width: 80%;
  color: #000;
  outline: none;
}

.tasks .task-list .task-content.dark {
  color: white;
  border-bottom: 1px solid #333;
}

.tasks .task-list .task-options {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}

.tasks.coworker .task-list .task-options {
  display: none;
}

.tasks.coworker .task-list .in-progress .task-options {
  display: inline-block;
}

.tasks .task-list .task-options .task-options-container {
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0%;
  text-align: center;
  display: none;
  width: 140px;
  background-color: #f1f1f1;
  border: 1px solid #e0e0e0;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tasks .task-list .task-options.dark .task-options-container {
  background-color: #111;
  border: 1px solid #333;
}

.tasks .task-list .task-options:hover .task-options-container {
    display: block;
}


.tasks .task-list .task-options .task-option-button {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 10px;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
  width: 100%;
  transition: background-color 0.1s ease;
}

.tasks .task-list .task-options.dark .task-option-button {
  color: white;
}

.tasks .task-list .task-options .task-option-button:hover {
  background-color: #b0b0b0
}

.tasks .task-list .task-options .show-options {
  background-color: transparent;
  color: #444;
  border: none;
  padding: 6px 14px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks .task-list .task-options .show-options:hover {
  background-color: #808080;
  color: #ccc;
}

.tasks .task-list .in-progress .task-options .show-options {
  text-align: center;
  width: 80px;
  font-size: 10px;
  padding: 8px 0px 8px 0px;
  background-color: #fff;
  color: #9FE59A;
}

.tasks .task-list .in-progress .task-options .show-options:hover {
  background-color: #aaa;
}

.tasks .task-list .in-progress.dark .task-options .show-options {
  color: #0dc;
}

.strikethrough {
  text-decoration: line-through;
}
